<div class="mainBody">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <app-search-bar></app-search-bar>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <app-main-weather></app-main-weather>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <app-weather-details></app-weather-details>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" id="supportDiv">
        <p>Supported by <span><img class="supportImg" src="assets/accu.png" alt=""></span></p>
      </div>
    </div>
  </div>
</div>
