<div class="mainBody">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <router-outlet></router-outlet>
        <!--search bar komponenta i unutar nje weather-conditions komponenta a unutar nje main weather i weather detalis-->
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" id="supportDiv">
        <p>Supported by <a href="https://www.accuweather.com/" target="_blank"><span><img class="supportImg"
                src="assets/accu.png" alt=""></span></a></p>
      </div>
    </div>
    </div>
</div>