<div class="line"></div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4 class="details">Weather Details</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="detailsDiv">
        <div class="row">
          <div class="col-md-6 pt-4 pb-4">
            <h6 id="detail-h6">UV INDEX</h6>
            <h4 id="detail-h4">{{uvIndex}}</h4>
          </div>
          <div class="col-md-6 d-flex align-items-center justify-content-center">
            <img class="detailIcons" src="assets/sunrise1.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="detailsDiv">
        <div class="row">
          <div class="col-md-6 pt-4 pb-4">
            <h6 id="detail-h6">AIR</h6>
            <h4 id="detail-h4">{{air}}</h4>
          </div>
          <div class="col-md-6 d-flex align-items-center justify-content-center">
            <img class="detailIcons" src="assets/sunset.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="detailsDiv">
        <div class="row">
          <div class="col-md-6 pt-4 pb-4">
            <h6 id="detail-h6">PRECIPITATION</h6>
            <h4 id="detail-h4">{{precipitation}}%</h4>
          </div>
          <div class="col-md-6 d-flex align-items-center justify-content-center">
            <img class="detailIcons" src="assets/drop.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="detailsDiv">
        <div class="row">
          <div class="col-md-6 pt-4 pb-4">
            <h6 id="detail-h6">HUMIDITY</h6>
            <h4 id="detail-h4">{{humidity}}%</h4>
          </div>
          <div class="col-md-6 d-flex align-items-center justify-content-center">
            <img class="detailIcons" src="assets/humidity.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-3">
      <div class="detailsDiv">
        <div class="row">
          <div class="col-md-6 pt-4 pb-4">
            <h6 id="detail-h6">WIND</h6>
            <h4 id="detail-h4" *ngIf="typeOfValue === false">{{windMetric}}km/h</h4>
            <h4 id="detail-h4" *ngIf="typeOfValue === true">{{windImperial}}mi/h</h4>
          </div>
          <div class="col-md-6 d-flex align-items-center justify-content-center">
            <img class="detailIcons" src="assets/wind.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="detailsDiv">
        <div class="row">
          <div class="col-md-6 pt-4 pb-4">
            <h6 id="detail-h6">PRESSURE</h6>
            <h4 id="detail-h4" *ngIf="typeOfValue === false">{{pressureMetric| number:'1.0-0'}} mb</h4>
            <h4 id="detail-h4" *ngIf="typeOfValue === true">{{pressureImperial| number:'1.0-0'}} inHg</h4>
          </div>
          <div class="col-md-6 d-flex align-items-center justify-content-center">
            <img class="detailIcons" src="assets/atmospheric.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="detailsDiv">
        <div class="row">
          <div class="col-md-6 pt-4 pb-4">
            <h6 id="detail-h6">FEELS LIKE</h6>
            <h4 id="detail-h4" *ngIf="typeOfValue === false">{{feelsLikeMetric}}&#176;</h4>
            <h4 id="detail-h4" *ngIf="typeOfValue === true">{{feelsLikeImperial}}&#176;</h4>
          </div>
          <div class="col-md-6 d-flex align-items-center justify-content-center">
            <img class="detailIcons" src="assets/sunrise1.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="detailsDiv">
        <div class="row">
          <div class="col-md-6 pt-4 pb-4">
            <h6 id="detail-h6">VISIBILITY</h6>
            <h4 id="detail-h4" *ngIf="typeOfValue === false">{{visibilityMetric}} km</h4>
            <h4 id="detail-h4"  *ngIf="typeOfValue === true">{{visibilityImperial}} mi</h4>
          </div>
          <div class="col-md-6 d-flex align-items-center justify-content-center">
            <img class="detailIcons" src="assets/eye.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>


