.line {
  max-width: auto;
  background-color: white;
  height: 1px;
  margin-top: 70px;
}

.details {
  padding-top: 40px;
  color: white;
  margin-bottom: 30px;
  font-family: 'Questrial';
}


.detailsDiv {
  background-color: white;
  border-radius: 5px;
}

@media screen and (max-width:767px) {
  .detailsDiv {
    margin-bottom: 10px;
  }
}

.detailIcons {
  width: 54px;
  height: 54px;
}

#detail-h4 {
  color: #054677;
  margin-left: 30px;
  font-family: 'Questrial';
}

#detail-h6 {
  color: gray;
  margin-left: 30px;
  font-family: 'Questrial';
}