<div class="line"></div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4 class="details">Weather Details</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="detailsDiv">
        <div class="row">
          <div class="col-md-6 pt-4 pb-4">
            <h6 id="detail-h6">SUNRISE</h6>
            <h4 id="detail-h4">6:47am</h4>
          </div>
          <div class="col-md-6 d-flex align-items-center justify-content-center">
            <img class="detailIcons" src="assets/sunrise1.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="detailsDiv">
        <div class="row">
          <div class="col-md-6 pt-4 pb-4">
            <h6 id="detail-h6">SUNSET</h6>
            <h4 id="detail-h4">5:04pm</h4>
          </div>
          <div class="col-md-6 d-flex align-items-center justify-content-center">
            <img class="detailIcons" src="assets/sunset.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="detailsDiv">
        <div class="row">
          <div class="col-md-6 pt-4 pb-4">
            <h6 id="detail-h6">PRECIPITATION</h6>
            <h4 id="detail-h4">60%</h4>
          </div>
          <div class="col-md-6 d-flex align-items-center justify-content-center">
            <img class="detailIcons" src="assets/drop.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="detailsDiv">
        <div class="row">
          <div class="col-md-6 pt-4 pb-4">
            <h6 id="detail-h6">HUMIDITY</h6>
            <h4 id="detail-h4">15%</h4>
          </div>
          <div class="col-md-6 d-flex align-items-center justify-content-center">
            <img class="detailIcons" src="assets/humidity.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-3">
      <div class="detailsDiv">
        <div class="row">
          <div class="col-md-6 pt-4 pb-4">
            <h6 id="detail-h6">WIND</h6>
            <h4 id="detail-h4">17km/h</h4>
          </div>
          <div class="col-md-6 d-flex align-items-center justify-content-center">
            <img class="detailIcons" src="assets/wind.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="detailsDiv">
        <div class="row">
          <div class="col-md-6 pt-4 pb-4">
            <h6 id="detail-h6">PRESSURE</h6>
            <h4 id="detail-h4">1021 hpa</h4>
          </div>
          <div class="col-md-6 d-flex align-items-center justify-content-center">
            <img class="detailIcons" src="assets/atmospheric.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="detailsDiv">
        <div class="row">
          <div class="col-md-6 pt-4 pb-4">
            <h6 id="detail-h6">FEELS LIKE</h6>
            <h4 id="detail-h4">12.6&#176;</h4>
          </div>
          <div class="col-md-6 d-flex align-items-center justify-content-center">
            <img class="detailIcons" src="assets/sunrise1.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="detailsDiv">
        <div class="row">
          <div class="col-md-6 pt-4 pb-4">
            <h6 id="detail-h6">VISIBILITY</h6>
            <h4 id="detail-h4">30 km</h4>
          </div>
          <div class="col-md-6 d-flex align-items-center justify-content-center">
            <img class="detailIcons" src="assets/eye.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>


