.dateIn {
  text-align: right;
  color: white;
  font-family: 'Questrial';
}

@media only screen and (max-width: 767px) {
  .dateIn {
    text-align: center;
  }
  .div-img{
    display: flex;
    justify-content: center;
  }
}

.temperature {
  color: white;
  font-family: 'Questrial';

}

.location {
  color: white;
  font-family: 'Questrial';
}

.description {
  color: white;
  font-family: 'Questrial';
}
