.dateIn{
  text-align: right;
  color: white;
  font-family: 'Questrial';
}

.temperature{
  color: white;
  font-family: 'Questrial';

}
.location{
  color: white;
  font-family: 'Questrial';
}
.description{
  color: white;
  font-family: 'Questrial';
}
