  <div class="row" >
      <div class="col-md-2" *ngFor="let day of daysOfWeek; let i = index" >
        <div class="row">
          <div class="col-md-12 text-center" *ngIf="i === 0">
             {{'Now'}}
          </div>
          <div class="col-md-12 text-center" *ngIf="i !=0">
            {{ day | date:'EEE'}} 
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 d-flex justify-content-center">
            <div class="temp">
              <img src="assets/cloud.png" alt="" style="width: 50px;">
              <p style=" padding-bottom: 3px; margin: 0px;">{{fiveDaysWeather[i]['Temperature']['Maximum'].Value | number:'1.0-0'}}&#176;</p>
              <hr style="margin: 0px;">
              <p style="padding-top: 3px; padding-bottom: 10px; margin: 0px;">{{fiveDaysWeather[i]['Temperature']['Minimum'].Value | number:'1.0-0'}}&#176;</p>
            </div>
          </div>
        </div>
      </div>
      </div>


