  <div class="row" >
      <div class="col-md-2" *ngFor="let day of daysOfWeek; let i = index">
        <div class="row">
          <div class="col-md-12 text-center">
            {{day | date:'EEE'}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 d-flex justify-content-center">
            <div class="temp" style="text-align: center; background-color: rgba(218, 23, 23, 0.26); border-radius: 100px; width: 50px; padding-top: 10px;">
              <img src="assets/cloud.png" alt="" style="width: 50px;">
              <p style="padding-top: 10px; padding-bottom: 10px;">&#176;</p>
            </div>
          </div>
        </div>
      </div>
      </div>


