<div class="row">
  <div class="col-md-10">
    <div class="search__container">
       <input [(ngModel)]="city" class="search__input" type="text" placeholder="Add location e.g. Belgrade" />
  </div>
  </div>
  <div class="col-md-2">
    <div class="typeOfTemperature">
      <button class="tempC" (click)="onCelsius()">C</button>
      <span class="lineT">/</span>
      <button class="tempF" (click)="onFarenheit()">F</button>
    </div>
  </div>
</div>
<div class="row" *ngIf="errorMessage">
  <div class="col-md-12 d-flex flex-start">
    <div class="errorMessageDiv">
      <span class="errorMessage">{{errorMessage}}</span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 d-flex justify-content-center">
    <div id="search-btn-div">
      <button (click)="searchCity()" id="searchBtn" >Search {{city}}</button>
    </div>
  </div>
</div>
<div class="row" *ngIf="spinerIn">
  <div class="col-md-12 d-flex justify-content-center" style="margin-top: 40px;">
    <div class="spinner-border" role="status">
    </div>
  </div>
</div>
<div class="row " >
  <div class="col-md-12">
    <app-weather-conditions></app-weather-conditions> <!--weather conditions komponenta i sve komponente koje se nalaze u njoj-->
  </div>
</div>


