<div class="row">
  <div class="col-md-10">
    <div class="search__container">
      <input  [(ngModel)]="city" class="search__input" type="text" placeholder="Add location e.g. Belgrade" >
      <div id="search-btn">
        <a (click)="searchCity()" style="color: white; cursor: pointer;">Search {{city}}</a>
      </div>
  </div>
  </div>
  <div class="col-md-2">
    <div class="typeOfTemperature">
      <button class="tempC" (click)="onCelsius()">C</button>
      <span class="lineT">/</span>
      <button class="tempF" (click)="onFarenheit()">F</button>
    </div>
  </div>
</div>
